.popUp{
  width: 700px;
  transition: scale 300ms;
  scale: 0;
  display: block;
}
.popUp[open] {
  scale: 1;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content {
  padding: 20px;
}
.header {
  font-size: 18px;
}
.info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.photo img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.description {
  color: rgba(0, 0, 0, 0.668);
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 30px;
  aspect-ratio: 1/1;
  font-size: 30px;
  background-color: transparent;
  color: rgb(73, 73, 73);
}