.menu {
  display: flex;
  flex-direction: column;
}
.section {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.division {
  width: 50%;
}
.image {
  width: 100%;
  object-fit: cover;
}
.desc {
  font-size: 24px;
  font-weight: 600;
}
.middle {
  background-color: blue;
  color: white;
}
.shopBtn {
  width: 200px;
  margin: 50px;
  align-self: center;
  padding: 10px;
  border: 1px solid rgb(2, 75, 2);
  border-radius: 8px;
  font-size: 23px;
  background-color: rgb(11, 198, 11);
  transition: transform 100ms;
}
.shopBtn:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.618);
}