.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("/public/cat.webp");
  background-size: 100px;
  --stupid-color: linear-gradient(20deg, red, pink, orange, yellow, green, lightblue, rgb(195, 11, 195), lightblue);
}
.menu > * {
  margin: 0;
}
.photo {
  width: 300px;
  padding: 10px;
  background: var(--stupid-color);
}
.text {
  padding: 5px;
  background: var(--stupid-color)
}
.homeBtn {
  margin-top: 20px;
  padding: 10px;
  transition: transform 200ms;
  background: var(--stupid-color);
}
.homeBtn:hover {
  transform: skew(40deg, 30deg);
}