.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navLinks {
  display: flex;
  align-items: center;
}
.navLinks > * {
  margin-right: 18px;
  text-decoration: none;
  color: black;
}
