.navBar {
  margin: 0;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(47, 168, 53);
}
.navBar * {
  text-decoration: none;
  color: white;
}
.navLinks {
  display: flex;
  align-items: center;
}
.navLinks > * {
  margin-right: 18px;
}
