* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  --background-color-light: white;
  --background-color-dark: rgb(2, 17, 39);
  background-color: var(--background-color-light);;
}
.icon {
  width: 20px;
}
.icon-with-text {
  display: flex;
}

/* @media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
  }
} */