@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  --background-color-light: white;
  --background-color-dark: rgb(2, 17, 39);
  --text-color-light: white;
}
button {
  cursor: pointer;
}
.menu {
  padding: 20px;
}
.icon,
.svg-icon {
  width: 20px;
  height: 20px;
  color: var(--text-color-light);
  fill: var(--text-color-light);
}
.icon-with-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

@layer base {
  dialog {
    margin: auto;
  }
}

@layer components {
  .primary-btn {
    padding: 10px;
    border-radius: 12px;
    background-color: var(--color-primary-light);
    @variant dark {
      background-color: var(--color-primary-dark);
    }
  }

  .top-right-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    border: none;
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 40px;
    background-color: transparent;
  }
}

@theme {
  --spacing: 1px;

  --text-xl: 20px;

  --radious-xl: 12px;

  --animate-popup: popup 0.2s linear;

  --color-primary-light: rgb(47, 168, 53);
  --color-primary-dark: rgb(17, 117, 17);
  --color-secondary-light: rgba(209, 207, 207, 0.5);
  --color-secondary-dark: rgb(20, 20, 20);
  --color-ternary-dark: rgba(40, 40, 40, 0.4);
  --color-stupid: linear-gradient(
    20deg,
    red,
    pink,
    orange,
    yellow,
    green,
    lightblue,
    rgb(195, 11, 195),
    lightblue
  );

  @keyframes popup {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

@utility primary-text {
  color: black;
  @variant dark {
    color: white;
  }
}

@utility primary-bg {
  background-color: var(--color-primary-light);
  @variant dark {
    background-color: var(--color-primary-dark);
  }
}

@utility navlink {
  margin-right: 18px;
  text-decoration: none;
  color: white;
}
@utility stupid-text {
  padding: 5px;
  background: var(--color-stupid);
}

/* @media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
  }
} */
