@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  --background-color-light: white;
  --background-color-dark: rgb(2, 17, 39);
  --text-color-light: white;
  background-color: var(--background-color-light);
}
button {
  cursor: pointer;
}
.menu {
  padding: 20px;
}
.icon,
.svg-icon {
  width: 20px;
  height: 20px;
  color: var(--text-color-light);
  fill: var(--text-color-light);
}
.icon-with-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

@theme {
  --spacing: 1px;
  --color-nav: rgb(47, 168, 53);
  --text-xl: 20px;
  --radious-xl: 12px;
  --color-stupid: linear-gradient(
    20deg,
    red,
    pink,
    orange,
    yellow,
    green,
    lightblue,
    rgb(195, 11, 195),
    lightblue
  );
}

@utility navlink {
  margin-right: 18px;
  text-decoration: none;
  color: white;
}
@utility stupid-text {
  padding: 5px;
  background: var(--color-stupid);
}

/* @media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
  }
} */
